# Using SQL to combine two Excel files for my own research
As part of my dissertation, I need to combine data from my screener (DEX.xlsx) with data from the in-person part of my study (PMD.xlsx). Previously I have joined these data files manually, but I realized SQL could help me.

## Load Excel files

In [35]:
import os
# Change the Current Working Directory
# Specify the new directory path
new_directory = '/Users/mickey.rice/Desktop'

# Change the current working directory
os.chdir(new_directory)

# Verify the change
current_directory = os.getcwd()
print("Current Working Directory:", current_directory)

Current Working Directory: /Users/mickey.rice/Desktop

In [36]:
import pandas as pd
PMD = pd.read_excel('PMD.xlsx')
DEX = pd.read_excel('DEX.xlsx')

## Create SQLite database

In [37]:
import sqlite3

# Create a connection to an in-memory SQLite database
conn = sqlite3.connect(':memory:')

## Load DataFrames into the SQLite Database

In [38]:
# Write the dataframes to the SQLite database
PMD.to_sql('table1', conn, index=False, if_exists='replace')
DEX.to_sql('table2', conn, index=False, if_exists='replace')

136

## Perform the SQL Merge Query

In [39]:
# Perform the SQL merge query
query = """
SELECT ID, Accuracy, PHQ9, DEXTOTAL, F1, F2, F3, F4, F5
FROM table1
JOIN table2
ON table1.ID = table2.ID_Number
"""

# Execute the query and fetch the result into a pandas dataframe
merged_df = pd.read_sql_query(query, conn)

In [40]:
# Display the merged dataframe
print(merged_df)

       ID   Accuracy  PHQ9  DEXTOTAL  F1  F2  F3  F4  F5
0   PMD02  73.611111    16        53   9   8   6   8   5
1   PMD03  76.388889    13        70  13  14  12  10   4
2   PMD04  77.777778    13        59   8  10  11  11   7
3   PMD05  68.055556    16        85  15  15  10  13  13
4   PMD06  18.055556    10        53   5  10   9   9   7
5   PMD08  94.444444    10        36   5   6   6   4   8
6   PMD09  90.277778    16        38  11   5   5   7   4
7   PMD10  27.777778    23        71  10  12   9  13  10
8   PMD11  87.500000     3        39   5   8   5   4   7
9   PMD12  93.055556    11        49   6  12   7   7   6
10  PMD16  22.222222    14        52   6  13   7   9   5
11  PMD17  62.500000     3        41   5   8   4   6   5
12  PMD18  90.277778     2        38   4   8   6   7   5
13  PMD19  94.444444    13        46   5   8  13   8   7
14  PMD21  43.055556     3        32   7   6   3   4   5
15  PMD22  81.944444     1        38   7   7   5   6   5
16  PMD23  94.444444    17        28   5   5   6   3   3
17  PMD24  88.888889    10        40   4   8   8   3   6
18  PMD25  84.722222     3        55   9   9  10   7   8
19  PMD26  62.500000    20        63   9  11   9  11   9
20  PMD27  55.555556     3        79  13  13  13   9  11
21  PMD28  36.111111    13        57   8   9   7   7  10
22  PMD30  52.777778    18        44   8   6   9   5   6
23  PMD31  95.833333     3        58   8  11   9  11   8
24  PMD32  75.000000     3        34   4   6   8   4   4
25  PMD33  65.277778    14        53   5  10  13  10   3
26  PMD34  13.888889     0        55  10  12   5   8   8
27  PMD35  90.277778    12        43   7   6   7   4   7
28  PMD36  75.000000    11        41   4   9   4   6   9
29  PMD37  58.333333    13        64  10  11  12   8   8
30  PMD38  11.111111    24        83  14  13  14  15  10
31  PMD39  86.111111    11        43   5   9   8   9   4
32  PMD41  13.888889    12        72  11  14   9  13  10
33  PMD42  75.000000     3        56  10   6   6  13   7
34  PMD43  41.666667     2        41   7   8   8   7   5
35  PMD44  63.888889    18        73  10  13   8  12   7
36  PMD45  90.277778    16        51   8   7   9  10  10
37  PMD46  93.055556    16        38   4   7   6   3   6
38  PMD47  83.333333     2        54   7  10   8   8   8
39  PMD48  48.611111    18        22   3   3   5   3   3
40  PMD49  98.611111    11        33   4   4   6   6   3
41  PMD50  97.222222     0        39   5   6   6   3   6
42  PMD51  37.500000     3        29   4   6   5   3   4
43  PMD52  94.444444     2        88  14  14  11  15  13
44  PMD54  87.500000     0        38   5   5   5   8   6
45  PMD56  91.666667     3        27   3   6   3   4   5
46  PMD57  81.944444     2        24   3   4   3   5   3
47  PMD58  95.833333     0        73  11  13  11  11   8
48  PMD59  94.444444     0        25   3   3   5   4   4
49  PMD60  91.666667    16        31   4   6   4   4   5
50  PMD61  44.444444     3        21   4   3   3   3   3
51  PMD62  94.444444     1        28   6   5   3   3   4
52  PMD63  86.111111     0        45   7   9   7   5   5

I can  now run statistics on the screener and in-person data!

# Potential example queries for SQL

## Provide all the ID numbers, DEX scores, and Accuracy for participants who have an accuracy score of 40, and a PHQ9 score less that 10

In [41]:
# Perform the SQL query
query = """
SELECT ID, Accuracy, DEXTOTAL
FROM table1
JOIN table2
ON table1.ID = table2.ID_Number
WHERE Accuracy > 40
AND PHQ9 < 10
"""

# Execute the query and fetch the result into a pandas dataframe
show = pd.read_sql_query(query, conn)

# Display the  dataframe
print(show)

       ID   Accuracy  DEXTOTAL
0   PMD11  87.500000        39
1   PMD17  62.500000        41
2   PMD18  90.277778        38
3   PMD21  43.055556        32
4   PMD22  81.944444        38
5   PMD25  84.722222        55
6   PMD27  55.555556        79
7   PMD31  95.833333        58
8   PMD32  75.000000        34
9   PMD42  75.000000        56
10  PMD43  41.666667        41
11  PMD47  83.333333        54
12  PMD50  97.222222        39
13  PMD52  94.444444        88
14  PMD54  87.500000        38
15  PMD56  91.666667        27
16  PMD57  81.944444        24
17  PMD58  95.833333        73
18  PMD59  94.444444        25
19  PMD61  44.444444        21
20  PMD62  94.444444        28
21  PMD63  86.111111        45

## Provide all the ID numbers, DEX scores, Accuracy, and Gender for participants who are not male

In [46]:
# Perform the SQL query
query = """
SELECT ID, Accuracy, DEXTOTAL, Gender
FROM table1
JOIN table2
ON table1.ID = table2.ID_Number
WHERE Gender <> "Male"
"""

# Execute the query and fetch the result into a pandas dataframe
show1 = pd.read_sql_query(query, conn)

# Display the  dataframe
print(show1)

       ID   Accuracy  DEXTOTAL                              Gender
0   PMD02  73.611111        53                              Female
1   PMD03  76.388889        70                              Female
2   PMD04  77.777778        59               Transgender Nonbinary
3   PMD05  68.055556        85                              Female
4   PMD06  18.055556        53                              Female
5   PMD08  94.444444        36                              Female
6   PMD09  90.277778        38                              Female
7   PMD10  27.777778        71                              Female
8   PMD11  87.500000        39                              Female
9   PMD17  62.500000        41                              Female
10  PMD18  90.277778        38                              Female
11  PMD19  94.444444        46      Transgender Male/Trans Man/FTM
12  PMD21  43.055556        32                              Female
13  PMD22  81.944444        38                              Female
14  PMD23  94.444444        28  Transgender Female/Trans Woman/MTF
15  PMD24  88.888889        40                              Female
16  PMD25  84.722222        55                              Female
17  PMD26  62.500000        63      Transgender Male/Trans Man/FTM
18  PMD27  55.555556        79                              Female
19  PMD30  52.777778        44                              Female
20  PMD32  75.000000        34                              Female
21  PMD33  65.277778        53                              Female
22  PMD34  13.888889        55                              Female
23  PMD35  90.277778        43                        Gender Queer
24  PMD36  75.000000        41                              Female
25  PMD37  58.333333        64                              Female
26  PMD38  11.111111        83                              Female
27  PMD41  13.888889        72                              Female
28  PMD43  41.666667        41                              Female
29  PMD46  93.055556        38                              Female
30  PMD47  83.333333        54                              Female
31  PMD48  48.611111        22      Transgender Male/Trans Man/FTM
32  PMD49  98.611111        33                              Female
33  PMD50  97.222222        39                              Female
34  PMD51  37.500000        29                              Female
35  PMD52  94.444444        88                              Female
36  PMD54  87.500000        38                        Gender Queer
37  PMD56  91.666667        27                              Female
38  PMD57  81.944444        24                              Female
39  PMD60  91.666667        31                              Female
40  PMD61  44.444444        21                              Female

## Provide all the ID numbers, DEX scores, Accuracy, Gender, and Age for participants who are between the ages of 20 and 22

In [51]:
# Perform the SQL query
query = """
SELECT ID, Accuracy, DEXTOTAL, Gender, Age
FROM table1
JOIN table2
ON table1.ID = table2.ID_Number
WHERE Age BETWEEN 20 AND 25
"""

# Execute the query and fetch the result into a pandas dataframe
show2 = pd.read_sql_query(query, conn)

# Display the  dataframe
print(show2)

       ID   Accuracy  DEXTOTAL  Gender   Age
0   PMD11  87.500000        39  Female  22.0
1   PMD28  36.111111        57    Male  20.0
2   PMD31  95.833333        58    Male  20.0
3   PMD38  11.111111        83  Female  22.0
4   PMD42  75.000000        56    Male  22.0
5   PMD44  63.888889        73    Male  25.0
6   PMD51  37.500000        29  Female  20.0
7   PMD56  91.666667        27  Female  21.0
8   PMD60  91.666667        31  Female  20.0
9   PMD61  44.444444        21  Female  20.0
10  PMD62  94.444444        28    Male  22.0

## How many participants are male? How many are female? How many are transgender?
Collapse the different types of transgender identities (Gender Queer, Transgender Female/Trans Woman/MTF, Transgender Male/Trans Man/FTM, Transgender Nonbinary) into one category called "Transgender"

In [63]:
query = """
SELECT 
COUNT(*) AS participant_count, 
   CASE 
        WHEN table1.Gender IN ('Transgender Female/Trans Woman/MTF', 'Gender Queer', 'Nonbinary', 'Transgender Male/Trans Man/FTM', 'Transgender Nonbinary') THEN 'Transgender'
        ELSE table1.Gender
    END AS gender_collapsed
FROM table1
JOIN table2
ON table1.ID = table2.ID_Number
GROUP BY gender_collapsed
"""

# Execute the query and fetch the result into a pandas dataframe
show3 = pd.read_sql_query(query, conn)

# Display the  dataframe
print(show3)

   participant_count gender_collapsed
0                 34           Female
1                 12             Male
2                  7      Transgender

## Give the average values of the DEX scores based on gender
Collapse the different types of transgender identities (Gender Queer, Transgender Female/Trans Woman/MTF, Transgender Male/Trans Man/FTM, Transgender Nonbinary) into one category called "Transgender"

In [66]:
query = """
SELECT 
AVG(DEXTOTAL) AS average_DEX, 
   CASE 
        WHEN table1.Gender IN ('Transgender Female/Trans Woman/MTF', 'Gender Queer', 'Nonbinary', 'Transgender Male/Trans Man/FTM', 'Transgender Nonbinary') THEN 'Transgender'
        ELSE table1.Gender
    END AS gender_collapsed
FROM table1
JOIN table2
ON table1.ID = table2.ID_Number
GROUP BY gender_collapsed
"""

# Execute the query and fetch the result into a pandas dataframe
show4 = pd.read_sql_query(query, conn)

# Display the  dataframe
print(show4)

   average_DEX gender_collapsed
0    48.205882           Female
1    50.833333             Male
2    42.714286      Transgender

# Which gender groups have an average PHQ9 score greater than 10?
Keep the gender categories collapsed!

In [67]:
query = """
SELECT 
AVG(PHQ9) AS average_PHQ9, 
   CASE 
        WHEN table1.Gender IN ('Transgender Female/Trans Woman/MTF', 'Gender Queer', 'Nonbinary', 'Transgender Male/Trans Man/FTM', 'Transgender Nonbinary') THEN 'Transgender'
        ELSE table1.Gender
    END AS gender_collapsed
FROM table1
JOIN table2
ON table1.ID = table2.ID_Number
GROUP BY gender_collapsed
HAVING AVG(PHQ9) > 10
"""

# Execute the query and fetch the result into a pandas dataframe
show5 = pd.read_sql_query(query, conn)

# Display the  dataframe
print(show5)

   average_PHQ9 gender_collapsed
0     13.285714      Transgender