# Practice Using SQL in Python Part 2

The following cells answer specific queries, based on this website: https://www.programmerinterview.com/database-sql/practice-interview-question-2/

Background info: This question was asked in a Google interview: Given the 2 tables below, User and UserHistory:

User: user_id, name, phone_num

UserHistory: user_id, date, action

In [28]:
# Install the necessary package
!pip install ipython-sql

# Load the ipython-sql extension:
%load_ext sql

# Connect to a database. I will be using SQLite:
%sql sqlite:///my_database.db

Requirement already satisfied: ipython-sql in /Users/mickey.rice/opt/anaconda3/lib/python3.9/site-packages (0.5.0)
Requirement already satisfied: ipython-genutils in /Users/mickey.rice/opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlalchemy>=2.0 in /Users/mickey.rice/opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (2.0.31)
Requirement already satisfied: sqlparse in /Users/mickey.rice/opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (0.5.0)
Requirement already satisfied: ipython in /Users/mickey.rice/opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (8.3.0)
Requirement already satisfied: six in /Users/mickey.rice/opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: prettytable in /Users/mickey.rice/opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (3.10.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /Users/mickey.rice/opt/anaconda3/lib/python3.9/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: setuptools>=18.5 in /Users/mickey.rice/opt/anaconda3/lib/python3.9/site-packages (from ipython->ipython-sql) (61.2.0)
Requirement already satisfied: backcall in /Users/mickey.rice/opt/anaconda3/lib/python3.9/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: pexpect>4.3 in /Users/mickey.rice/opt/anaconda3/lib/python3.9/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: pygments>=2.4.0 in /Users/mickey.rice/opt/anaconda3/lib/python3.9/site-packages (from ipython->ipython-sql) (2.11.2)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /Users/mickey.rice/opt/anaconda3/lib/python3.9/site-packages (from ipython->ipython-sql) (3.0.20)
Requirement already satisfied: traitlets>=5 in /Users/mickey.rice/opt/anaconda3/lib/python3.9/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: matplotlib-inline in /Users/mickey.rice/opt/anaconda3/lib/python3.9/site-packages (from ipython->ipython-sql) (0.1.2)
Requirement already satisfied: pickleshare in /Users/mickey.rice/opt/anaconda3/lib/python3.9/site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: stack-data in /Users/mickey.rice/opt/anaconda3/lib/python3.9/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: jedi>=0.16 in /Users/mickey.rice/opt/anaconda3/lib/python3.9/site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: appnope in /Users/mickey.rice/opt/anaconda3/lib/python3.9/site-packages (from ipython->ipython-sql) (0.1.2)
Requirement already satisfied: decorator in /Users/mickey.rice/opt/anaconda3/lib/python3.9/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /Users/mickey.rice/opt/anaconda3/lib/python3.9/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /Users/mickey.rice/opt/anaconda3/lib/python3.9/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in /Users/mickey.rice/opt/anaconda3/lib/python3.9/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython->ipython-sql) (0.2.5)
Requirement already satisfied: asttokens in /Users/mickey.rice/opt/anaconda3/lib/python3.9/site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: executing in /Users/mickey.rice/opt/anaconda3/lib/python3.9/site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: pure-eval in /Users/mickey.rice/opt/anaconda3/lib/python3.9/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [36]:
%%sql
-- Create table User
CREATE TABLE IF NOT EXISTS User (
    user_id INTEGER,
    name TEXT,
    phone_num TEXT);

INSERT INTO User (user_id, name, phone_num) VALUES (1, 'Alice Johnson', '555-1234');
INSERT INTO User (user_id, name, phone_num) VALUES (2, 'Bob Smith', '555-5678');
INSERT INTO User (user_id, name, phone_num) VALUES (3, 'Charlie Brown', '555-5678');
INSERT INTO User (user_id, name, phone_num) VALUES (4, 'Diana Prince', '555-3456');
INSERT INTO User (user_id, name, phone_num) VALUES (5, 'Ethan Hunt', '555-7890');


SELECT * FROM User;

   sqlite:///User.db
 * sqlite:///my_database.db
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
Done.

[(1, 'Alice Johnson', '555-1234'),
 (2, 'Bob Smith', '555-5678'),
 (3, 'Charlie Brown', '555-5678'),
 (4, 'Diana Prince', '555-3456'),
 (5, 'Ethan Hunt', '555-7890')]

In [71]:
%%sql
-- Create table UserHistory

CREATE TABLE IF NOT EXISTS UserHistory (
    user_id INTEGER,
    date DATE,
    action TEXT);

INSERT INTO UserHistory (user_id, date, action) VALUES (1, '2024-05-15', 'logged_on');
INSERT INTO UserHistory (user_id, date, action) VALUES (3, '2024-04-10', 'logged_on');
INSERT INTO UserHistory (user_id, date, action) VALUES (4, '2024-05-25', 'logged_on');
INSERT INTO UserHistory (user_id, date, action) VALUES (5, '2024-04-12', 'logged_on');
INSERT INTO UserHistory (user_id, date, action) VALUES (9, '2024-03-19', 'logged_on');
INSERT INTO UserHistory (user_id, date, action) VALUES (1, '2024-06-12', 'logged_on');
INSERT INTO UserHistory (user_id, date, action) VALUES (3, '2024-05-08', 'logged_on');
INSERT INTO UserHistory (user_id, date, action) VALUES (4, '2024-06-20', 'logged_on');
INSERT INTO UserHistory (user_id, date, action) VALUES (5, '2024-06-19', 'logged_on');
INSERT INTO UserHistory (user_id, date, action) VALUES (9, '2024-5-11', 'logged_on');
INSERT INTO UserHistory (user_id, date, action) VALUES (1, '2024-06-20', 'logged_on');
INSERT INTO UserHistory (user_id, date, action) VALUES (3, '2024-05-29', 'logged_on');
INSERT INTO UserHistory (user_id, date, action) VALUES (4, '2024-06-20', 'logged_on');
INSERT INTO UserHistory (user_id, date, action) VALUES (5, '2024-06-20', 'logged_on');
INSERT INTO UserHistory (user_id, date, action) VALUES (9, '2024-5-25', 'logged_on');


SELECT * FROM UserHistory;

   sqlite:///User.db
 * sqlite:///my_database.db
Done.
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
Done.

[(1, '2024-05-15', 'logged_on'),
 (3, '2024-04-10', 'logged_on'),
 (4, '2024-05-25', 'logged_on'),
 (5, '2024-04-12', 'logged_on'),
 (9, '2024-03-19', 'logged_on'),
 (1, '2024-06-12', 'logged_on'),
 (3, '2024-05-08', 'logged_on'),
 (4, '2024-06-20', 'logged_on'),
 (5, '2024-06-19', 'logged_on'),
 (9, '2024-5-11', 'logged_on'),
 (1, '2024-06-20', 'logged_on'),
 (3, '2024-05-29', 'logged_on'),
 (4, '2024-06-20', 'logged_on'),
 (5, '2024-06-20', 'logged_on'),
 (9, '2024-5-25', 'logged_on')]

### 1. Write a SQL query that returns the name, phone number and most recent date for any user that has logged in over the last 30 days (you can tell a user has logged in if the action field in UserHistory is set to "logged_on").

Every time a user logs in a new row is inserted into the UserHistory table with user_id, current date and action (where action = "logged_on").

In [74]:
%%sql

SELECT User.name, User.phone_num, MAX(UserHistory.date)
FROM User
INNER JOIN UserHistory 
ON User.user_id = UserHistory.user_id 
WHERE UserHistory.date >= DATE('now', '-30 days')
GROUP BY UserHistory.user_id;

   sqlite:///User.db
 * sqlite:///my_database.db
Done.

[('Alice Johnson', '555-1234', '2024-06-20'),
 ('Charlie Brown', '555-5678', '2024-05-29'),
 ('Diana Prince', '555-3456', '2024-06-20'),
 ('Ethan Hunt', '555-7890', '2024-06-20')]

### 2. Write a SQL query to determine which user_ids in the User table are not contained in the UserHistory table (assume the UserHistory table has a subset of the user_ids in User table). Do not use the SQL MINUS statement. 

Note: the UserHistory table can have multiple entries for each user_id.
Note that your SQL should be compatible with MySQL 5.0, and avoid using subqueries.

In [76]:
%%sql

SELECT DISTINCT User.user_id
FROM USER
LEFT JOIN UserHistory
ON User.user_id = UserHistory.user_id
WHERE UserHistory.user_id is null;

   sqlite:///User.db
 * sqlite:///my_database.db
Done.

[(2,)]